In [4]:
1+1

2

In [5]:
print(1+1)

2

In [7]:
print("Hello world")

Hello world

In [9]:
print("Hi")

Hi

In [10]:
print("Mrinmoy")

Mrinmoy

In [11]:
age=32
if age>30:
	print("you are an adult")
print(age)

you are an adult
32

In [12]:
age =22
print(type(age))

<class 'int'>

In [13]:
age="32"
print(type(age))

<class 'str'>

In [1]:
a=3
print(a)

3

In [2]:
a=3
if a>=2:
	print("ok")
else:
	print("Not ok")

ok

In [1]:
a=3
if a>=2:
	print("ok")
else:
	print("Not ok")

ok

In [2]:
age=input("What is the age")
print(age, type(age))

31 <class 'str'>

In [3]:
age=31
type(age)

int

In [4]:
a=2
b=3
a+b

5

In [5]:
X=True
Y=True

print(X and Y)

True

In [3]:
##+ve, -ve, even, odd check
num=int(input("Enter the number"))

if num>=0:
	print("Positive number")
	if num%2==0:
		print("Even number")
    
	else:
		print("Odd number")

else:
	print("Negative number")

Negative number

In [4]:
for i in range(5)

SyntaxError: expected ':' (1674873758.py, line 1)

In [5]:
for i in range(5):
	print(i)

0
1
2
3
4

In [6]:
for i in range(1,6):
	print(i)

1
2
3
4
5

In [7]:
name="Mrinmoy Adhikary"

for i in name:
	print(i)

M
r
i
n
m
o
y

A
d
h
i
k
a
r
y

In [8]:
count=0
while count<5:
	print(count)
	count=count+1

0
1
2
3
4

In [9]:
n=10
sum=0
for i in range(n+1):
	sum=sum+i
print(sum)

55

n=8

In [11]:
fruits=['apple', 'banana', 'cherry', 'kiwi', 'gauva']
print(fruits[2:])
print(fruits[1:3])

['cherry', 'kiwi', 'gauva']
['banana', 'cherry']

In [12]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [13]:
fruits[1]='watermelon'
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [14]:
numbers=[1,2,3,4,5,6,7,8,9,10]

for num in numbers:
	print(num)

1
2
3
4
5
6
7
8
9
10

In [15]:
lst=[]
for x in range(10):
	lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
lst=[]
for i in range(10):
	if i%2==0:
		lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [18]:
even=[num for num in range(10) if num%2==0]
print(even)

[0, 2, 4, 6, 8]

In [1]:
even=[num for num in range(10) if num%2==0]
print(even)

[0, 2, 4, 6, 8]

In [2]:
odd=[num for num in range(10) if num%2!=0]
print(odd)

[1, 3, 5, 7, 9]

In [ ]:
##tuple
tuple=(1,2.5,"apple")

print(tuple)

(1, 2.5, 'apple')

In [5]:
tuple*3

TypeError: unsupported operand type(s) for *: 'type' and 'int'

In [6]:
tuple *3
tuple=(1,2.5,"apple")

TypeError: unsupported operand type(s) for *: 'type' and 'int'

In [7]:
val=tuple(1,2.5,"apple")
print(val)

TypeError: tuple expected at most 1 argument, got 3

In [8]:
val=tuple([1,2.5,"apple"])
print (val)

(1, 2.5, 'apple')

In [9]:
val*3

(1, 2.5, 'apple', 1, 2.5, 'apple', 1, 2.5, 'apple')

In [10]:
num=(1,2,3,4,5,6);
print(num.count(3))

1

In [11]:
print(num.index(3))

2

In [15]:
##packing and unpacking tuple
pack=(1,2,3)
a,b,c=pack
print(a)
print(b)
print(c)

1
2
3